/* - - - - - - - - - - - - - - - - - - - - - - - - 
GENERAL
- - - - - - - - - - - - - - - - - - - - - - - - */
* {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}
.wrapper {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - 
HEADER
- - - - - - - - - - - - - - - - - - - - - - - - */
header {
  height: 80px;
  background:#f87102;
}

header nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

header .logo {
  background: url('./assets/owlLogo.svg');
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  background-size: 40px;
}

header .menu {
  background: url('./assets/menu.svg');
  height: 30px;
  width: 30px;
  background-size: 30px;
  display: none;
  
}

header .close {
  background: url('./assets/close.svg');
  height: 30px;
  width: 30px;
  background-size: 30px;
  display: none;
}

header ul {
  margin: 0;
  padding: 0;
  display: flex;
  width: 400px;
  justify-content: space-evenly;
}

header li {
  color: white;
  list-style: none;
  margin: 0;
 
}

header a {
  color: black;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
 
}

h1 {
  font-family: 'Mansalva', cursive;
}

@media(max-width: 750px) {
  header ul {
      position: fixed; 
      top: 0;
      bottom: 0;
      right: -300px;
      width: 300px;
      height: 20vh;
      background:rgb(240, 179, 48);
      transition: transform 0.2s; 
      transform: translateX(0px); 
  }

  header .menu {
      display: block;
  }

  header .close {
      display:block;
      position: fixed;
      top: 1em;
      bottom: 0;
      right: 1em;
  }
 
  .openState {
      transform: translateX(-300px); 
      transition: transform 0.2s; 
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      text-align: left;
      justify-content: start; 
      padding-top: 2em;
      padding-left: 2em;
  }

  header li {
      color: white;
      text-decoration: none;
      padding: .5em;
  }


  

  .closedState {
      transform: translateX(0px);
      transition: transform 0.2s; 
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      text-align: left;
      justify-content: start; 
      padding-top: 2em;
      padding-left: 2em;    
  }
}
#adviceBox {
  background-color:black;
  height: 22vh;
}

/* button*/
#adviceButton {

  font-family: 'Quicksand', sans-serif;
  border: 2px solid rgb(255, 255, 255);
  background: -webkit-gradient(linear, left top, left bottom, from(#f87102), to(#f8f67a));
  padding: 19.5px 39px;


  border-radius: 26px;
  color:black;
  font-size: 23px;
  z-index: 1;
  display: block;
  margin:auto;
  position: relative;
  left: 1em;
  top: 2em;
  
 


}



